<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chart</title>

    <!-- Favicon and related files -->
    <link rel="icon" type="image/png" sizes="192x192" href="/public/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/public/android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="manifest" href="/public/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <style>
        body {
            font-family: 'Kanit', sans-serif;
            margin: 0;
            padding: 0;
        }

        #chart-container {
            display: flex;
            justify-content: center;
        }
        #chart {
            width: 100%;
            max-width: 1270px;
            height: 400px;
        }
    </style>
</head>

<body>
    <div id="chart-container">
        <div id="chart"></div>
    </div>
    <script>
        Highcharts.setOptions({
            lang: {
                thousandsSep: ','
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            var chartData = {{.ChartData}};
            Highcharts.chart('chart', {
                chart: {
                    type: 'bar',
                    style: {
                        fontFamily: 'Kanit'
                    }
                },
                title: {
                    text: '{{.Title}}'
                },
                xAxis: {
                    categories: chartData.map(function (item) {
                        return item.name;
                    }),
                    title: {
                        text: 'Psychube'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Damage'
                    }
                },
                legend: { enabled: false },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                        },
                        pointWidth: 20, // Adjust the bar width here (in pixels)
                    }
                },
                series: [{
                    name: 'Damage',
                    data: chartData.map(function (item) {
                        return {
                            y: item.damage,
                            color: item.color
                        };
                    })
                }]
            });
        });
    </script>
</body>

</html>